{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">Dashboard</h1>
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"></a>
         
        </div>
      </div>
      <br/>
<div class="row">
<div class="col-sm-12">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Funds</h5>
            <p class="card-text">Net Worth:</p>
            <p class="card-text">Cash:</p>
            <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#exampleModal">Add Funds</button>
          <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Funds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form>
                          <div class="form-group">
                              <label for="addFunds">Fund Amount</label>
                            <input type="number" class="form-control" id="addFunds" placeholder="$">
                          </div>
                        </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                  </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
    <br/>
<div class="row">
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GOOGL</h5>
          <p class="card-text">Shares:</p>
          <p class="card-text">Current Price:</p>
          <form>
            <div class="form-group">
              <input type="number" class="form-control" id="googlShareAmount" placeholder="Amount">
            </div>
          </form>
          <a href="#" class="btn btn-primary">Buy</a>
          <a href="#" class="btn btn-danger">Sell</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">AAPL</h5>
          <p class="card-text">Shares:</p>
          <p class="card-text">Current Price:</p>
          <form>
            <div class="form-group">
              <input type="number" class="form-control" id="aaplShareAmount" placeholder="Amount">
            </div>
          </form>
          <a href="#" class="btn btn-primary">Buy</a>
          <a href="#" class="btn btn-danger">Sell</a>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">FB</h5>
          <p class="card-text">Shares:</p>
          <p class="card-text">Current Price:</p>
          <form>
            <div class="form-group">
              <input type="number" class="form-control" id="fbShareAmount" placeholder="Amount">
            </div>
          </form>
          <a href="#" class="btn btn-primary">Buy</a>
          <a href="#" class="btn btn-danger">Sell</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Msft</h5>
          <p class="card-text">Shares:</p>
          <p class="card-text">Current Price:</p>
          <form>
            <div class="form-group">
              <input type="number" class="form-control" id="msftShareAmount" placeholder="Amount">
            </div>
          </form>
          <a href="#" class="btn btn-primary">Buy</a>
          <a href="#" class="btn btn-danger">Sell</a>
        </div>
      </div>
    </div>
  </div>
  <br/>
<button type="button" class="btn btn-primary">Create Account</button>
<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>


{% endblock content %}